
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
<div class="container" style="margin-top : 40px; position: fixed;" >
    <div class="team-single" style="position: inherit;">
        <div class="row">
            <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                <div class="team-single-img">
                    <img [src]="movies.photo" alt="">
                </div>
                <div class="bg-light-gray padding-30px-all md-padding-25px-all sm-padding-20px-all text-center">
                    <h4 style="font-family:courier; font-weight: bolder ;" class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 font-weight-600">{{movies.mname}}</h4>
                    <p class="sm-width-95 sm-margin-auto">

                    </p>

                    <div *ngIf="showMyContainer" >
                      <table >
                        <thead >
                          <tr>
                            <th scope="col">Cast</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ol>
                          <tr *ngFor="let actor of actors">
                            <th><li>{{actor.aname}}</li></th>
                          </tr>
                          </ol>
                        </tbody>
                        
                    </table>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-8 col-md-7" style="position:relative;  ">
                <div class="team-single-text padding-50px-left sm-no-padding-left">
                    <h4 class="font-size38 sm-font-size32 xs-font-size30">Description</h4>
                    <p class="no-margin-bottom">{{movies.description}}</p>
                    <div class="contact-info-section margin-40px-tb">
                        <ul class="list-style9 no-margin">
                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-gem text-orange"></i>
                                        <strong class="margin-10px-left text-orange"> Genre :</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>{{movies.genre}}</p>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="far fa-clock text-yellow"></i>
                                        <strong class="margin-10px-left text-yellow"> Duration :</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>{{movies.duration}} Min</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="far fa-calendar-alt text-lightred"></i>
                                        <strong class="margin-10px-left text-lightred"> Release Date :</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>{{movies.releasedate | date:'dd-MMM-yyyy'}}</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-star text-green"></i>
                                        <strong class="margin-10px-left text-green"> Rating :</strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>{{movies.rating}}</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div id="outer">
                          <div class="inner button" (click)="showMyContainer=!showMyContainer" >Show Cast</div>
                          <a  *ngIf="((isRoleIn$ | async) == 'Admin')"  style="cursor: pointer;" (click)="onEditMovie()"><div class="inner button">Edit</div></a>
                          <a  *ngIf="((isRoleIn$ | async) == 'Admin')"  style="cursor: pointer;" (click)="onDeleteMovie()"><div class="inner button"> Delete</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>