.wrapper {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-size: 100%;
  font-family: 'Roboto', Arial, Verdana, sans-serif;
  background: #eee;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card {
  position: relative;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  width: 570px;
  height: 260px;
  background:  rgb(10,10,10);
  background-position: -30px 20px 20px, 0;
  background-repeat: no-repeat;
  background-size: 48% 100%;
  border-radius: $radius;
  box-shadow: $boxshadow-2;
}

.card__inner {
  position: relative;
  z-index: 2;
  height: 100%;
}

.list {
  display: flex;
}

.card__body {
  position: relative;
 
}

.card__info {
  position: relative;
  padding-right: 1.25rem;
  float: right;
  width: 50%;
  color: #fff;
  top: 20px;
}

.card__slug {
  margin-bottom: 1.25rem;
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.card__footer {
  color: #fff;
}

.card__rating {
  display: inline-block;
  position: relative;
  padding: 1rem;
  margin-left: 3rem;
  color: #fff;
  border-radius: 50%;
  border: 3px solid #c62828;
}

footer {
  position: absolute;
  bottom: 0;
  padding-top: 1rem;
  padding-right: 1.25rem;
  padding-bottom: 1rem;
  width: 100%;
}


.card__btn {
  display: inline-block;
  padding: .99rem 1rem;
  margin-bottom : 70px;
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: remy(1px);
  text-transform: uppercase;
  color: rgb(177, 166, 166);
  background: rgb(197, 17, 17);;
  border: 0;
  border-radius: remy(35px);
  box-shadow: $boxshadow-2;
}

footer {
  position: absolute;
  bottom: 0;
  padding-top: 1rem;
  padding-right: 1.25rem;
  padding-bottom: 1rem;
  width: 100%;
}

.list--info {
  padding-left: 1rem;
  float: right;
  justify-content: space-between;
  width: 50%;
}
.list--info  li {
    font-size: .85rem;
  }
  
  .list--info  li:nth-of-type(n+2) {
    margin-left: 1rem;
  }
