
input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }
  
  input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important; }
  
  
  
  img {
    max-width: 100%;
    height: auto; }
  
  figure {
    margin: 0; }
  
  p {
    margin-bottom: 0px; }
  
  input:-webkit-autofill {
    box-shadow: 0 0 0 30px white inset;
    -moz-box-shadow: 0 0 0 30px white inset;
    -webkit-box-shadow: 0 0 0 30px white inset;
    -o-box-shadow: 0 0 0 30px white inset;
    -ms-box-shadow: 0 0 0 30px white inset; }
  
  h2 {
    line-height: 1.8;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: 'Roboto Slab';
    font-size: 20px;
    margin-bottom: 30px;
    text-transform: uppercase; }
  
  h3 {
    font-weight: bold;
    color: #222;
    font-size: 15px;
    margin: 0px;
    margin-bottom: 35px; }
  
  .clear {
    clear: both; }
  
  body {
    font-size: 13px;
    line-height: 1.8;
    color: #fff;
    background-color:rgb(154, 235, 255);
    /* background-image: url("../images/body-bg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    font-weight: 400;
    font-family: 'Roboto Slab';
    margin: 0px; }
  
  .main {
    padding: 60px 0;
    position: relative; }
  
  .container {
    width: 700px;
    background: #fff;
    margin-left: 25px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px; }
  
  .appointment-form {
    padding: 50px 60px 70px 60px; }
  
  input, select {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 2px solid #ebebeb;
    padding: 5px 0;
    color: #222;
    margin-bottom: 31px;
    font-family: 'Roboto Slab'; }
    input:focus, select:focus {
      color: #222;
      border-bottom: 2px solid #4966b1; }
  
  input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none; }
  
  input[type=checkbox]:not(old) + label {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 25px; }
  
  
  .label-agree-term {
    color: #999; }
  
  .term-service {
    color: #222; }
  
  .submit {
    width: auto;
    background: #4966b1;
    color: #fff;
    padding: 16px 17px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -moz-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -webkit-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -o-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
    -ms-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7); }
    .submit:hover {
      background: #3a518d; }
  
  ul {
    background: 0 0;
    z-index: 9; }
  
  ul li {
    padding: 3px 0px;
    z-index: 2;
    color: #999; }
    ul li:last-child {
      border-bottom: 1px solid #ebebeb; }
  
  ul li:not(.init) {
    display: none;
    background: #fff;
    color: #222;
    padding: 5px 10px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb; }
  
  ul li:not(.init):hover, ul li.selected:not(.init) {
    background: #4966b1;
    color: #fff; }
  
  li.init {
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid #ebebeb; }
    li.init:after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      font-size: 20px;
      color: #999;
      font-family: 'Material-Design-Iconic-Font';
      content: '\f2f9'; }
  
  #confirm_type {
    margin-bottom: 30px; }
  
  .form-group-2 {
    margin-top: 15px;
    margin-bottom: 30px; }
  
  .form-check {
    margin-bottom: 20px; }
  
  .select-list {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 55px; }
  
  
  